.main {

}

.main>nav {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  padding: 0 20px;
  color: white;
}

.main>nav>h1 {
  font-size: 1.4rem;
}

.main>nav>button {
  border: none;
  border-radius: 9px;
  height: 2rem;
  padding: 5px 15px;
  font-weight: 600;
  cursor: pointer;
}

.main>nav>button:hover {
  background-color: white;
  color: var(--main-color);
}

.main>nav>a {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
  font-weight: 600;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.item {
  flex: none;
  height: 19rem;
  width: 17rem;
  border: 1px solid var(--secondary-color);
  border-radius: 9px;
  overflow: hidden;
  margin: 1rem;
  color: white;
  position: relative;
}

.item>.delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: red;
  width: 30%;
  padding: 5px 10px;
  border-radius: 9px;
  text-align: center;

}

.item>img {
  height: 70%;
  width: 100%;
  background-color: black;
  object-fit: cover;
}

.item>section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: black;
}

.item h3 {
  font-size: 1rem;
}

.item>button {
  width: 60%;
  margin-left: 20%;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  background-color: var(--main-color);
  color: white;
}

@media screen and (max-width:480px) {
  .main>nav>h1 {
    font-size: 1.2rem;
  }
}